  html, body {
    height: 100%;
    margin: 0;
    background: url("https://cdn.glitch.com/75d4ca74-1276-4a1b-b365-08cad44455af%2Fgiantrobot.jpeg?v=1594839196317")
   
  }
  body {
    display: flex;
    align-items: center;
    justify-content: center;

  }
  canvas {
    border: 25px solid dodgerblue;
  }
